.Navbar {
  position: fixed;
  margin-block-start: 0em;
  background-color: #0984e3;
  display: inline-flex;
  width: 100%;
  height: 80px;
  align-items: center;
  border-bottom-style: solid;
  border-color: #0c60a0;
  z-index: 3;
}
